@charset "UTF-8";
/*variables y normaliz*/
/* Variables*/
/*normalize*/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

/*css para todo los html-header-body-footer*/
html {
  background-color: black;
  font-size: 62.5%;
  color: var(--principal);
  max-width: 1366px; }

li {
  list-style-type: none; }

a {
  text-decoration: none;
  color: gray;
  display: inline-block; }

/*esto es un map*/
/*mixied de tamañp*/
/*layout grid*/
.layout {
  display: grid;
  grid-template-rows: auto auto auto;
  grid-template-areas: "header" "container" "footer";
  min-height: 100vh; }

.layout * {
  /*border: 1px solid red;*/
  position: relative; }

/*navbar*/
.navbar {
  grid-area: header;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-basis: auto; }

.menu .menu__items {
  border: 0.5px solid black;
  transition: all 1.5s ease-in-out;
  border-radius: 10px; }

.menu__items:hover {
  box-shadow: 0 0 30px #c5c5c5; }

.menu__items .menu__link {
  font-size: 2em;
  padding: 1rem; }

.flex-row {
  display: flex; }

.footer {
  grid-area: footer;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  font-size: 3em;
  color: gray;
  margin-top: 3rem;
  margin-left: 1;
  text-align: center;
  bottom: 1vh;
  width: 100%;
  height: 10vh; }

/*esto es un map*/
.redes1 {
  padding: 1rem;
  color: white; }

.redes2 {
  padding: 1rem;
  color: white; }

.redes3 {
  padding: 1rem;
  color: white; }

.article {
  grid-area: container;
  display: grid;
  grid-template-columns: auto auto;
  grid-area: "section__items" "Section__items2";
  margin-top: 6rem;
  flex-basis: 50%; }

.section__items {
  display: flexbox;
  justify-items: center; }

.la__cerveza__img {
  width: 500px;
  justify-items: center; }

.section__items2 {
  font-size: 30px;
  color: gray;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 15%;
  box-sizing: content-box; }

.ingredientes {
  font-size: 15px;
  display: grid;
  color: gray;
  grid-template-columns: auto auto auto auto;
  gap: 5;
  margin: 3rem; }

.ingredientes > * {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.foto {
  display: flex;
  align-items: center;
  width: 100%;
  justify-content: center;
  position: relative;
  transition: all 300ms; }

.foto :hover {
  transform: scale(2);
  position: absolute;
  z-index: +5;
  left: 550px;
  bottom: -150px; }

.descripcion {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.descripcion:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.foto__1 {
  width: auto;
  position: relative;
  transition: all 300ms; }

.foto__1 :hover {
  transform: scale(2);
  position: absolute;
  z-index: +5;
  right: 125px;
  bottom: -100px; }

.descripcion__1 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.descripcion__1:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.foto__2 {
  width: 100%;
  position: relative;
  transition: all 300ms; }

.foto__2:hover {
  transform: scale(3);
  position: absolute;
  z-index: +3;
  margin-left: auto;
  margin-right: auto; }

.descripcion__2 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.descripcion__2:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.descripcion__3 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.descripcion__3:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

/*quienessomos*/
.main__quienes {
  grid-area: container;
  display: grid;
  grid-template-columns: auto auto;
  grid-area: "iframe" "quienes__video";
  margin-top: 6rem;
  flex-basis: 50%; }

.quienes__video {
  font-size: 30px;
  color: gray;
  margin-top: 2rem;
  margin-left: 20%;
  margin-right: 15%;
  box-sizing: content-box; }

iframe {
  height: 500px;
  width: 600px; }

.section {
  font-size: 15px;
  display: grid;
  color: gray;
  grid-template-columns: auto auto auto auto;
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 1rem;
  margin-right: 3rem; }

.section > * {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center; }

.article__items1 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items1 :hover {
  transform: scale(2);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.article__items3 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items3:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.article__items2 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items2 :hover {
  transform: scale(2);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.article__items4 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items4:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.article__items5 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items5 :hover {
  transform: scale(2);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.article__items6 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items6:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.article__items7 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items7 :hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

.article__items8 {
  width: 100%;
  position: relative;
  text-align: justify;
  transition: all 300ms; }

.article__items8:hover {
  transform: scale(1.5);
  width: 80%;
  color: red;
  text-decoration: solid 2px; }

header {
  position: relative;
  margin: 100px 0 25px 0;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px; }

#form {
  position: relative;
  width: 500px;
  margin: 50px auto 100px auto; }

input {
  font-size: 0.875em;
  width: 570px;
  height: 50px;
  padding: 0px 15px 0px 15px;
  background: transparent;
  outline: none;
  color: #ffffff;
  border: solid 1px #b3aca7;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

input:hover {
  background: #b3aca7;
  color: #e2dedb; }

textarea {
  width: 570px;
  max-width: 570px;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  background: transparent;
  outline: none;
  color: #ffffff;
  font-size: 0.875em;
  border: solid 1px #b3aca7;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out; }

textarea:hover {
  background: #b3aca7;
  color: #e2dedb; }

#submit {
  width: 570px;
  padding: 0;
  margin: -5px 0px 0px 0px;
  font-family: 'Lato', sans-serif;
  font-size: 0.875em;
  color: #ffffff;
  outline: none;
  cursor: pointer;
  border: solid 1px #b3aca7;
  border-top: none; }

#submit:hover {
  color: #e2dedb; }

/*MAIN*/
.main {
  grid-area: container;
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  align-items: center;
  box-sizing: content-box;
  flex-basis: 50%; }

.frase {
  font-size: 2.5em;
  margin-top: 2rem;
  color: gray;
  box-sizing: content-box;
  text-align: center;
  text-shadow: 0 0 20px #fff; }

@media screen and (max-width: 400px) {
  .layout {
    display: flex;
    flex-wrap: wrap; }
  .article {
    display: flex;
    flex-wrap: wrap; }
  .la__cerveza__img {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    flex-grow: 1; }
  .section__items2 {
    display: flex;
    flex-grow: 1;
    text-align: center; }
  .footer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center; }
  .ingredientes {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1; }
  .section {
    display: flex;
    flex-wrap: wrap; }
  .article__items3 .article__items5 .article__items6 {
    display: flex;
    flex-flow: row-reverse wrap; }
  .main__quienes {
    display: flex;
    flex-wrap: wrap;
    max-width: 600px; }
  input {
    width: 370px; }
  textarea {
    width: 370px; }
  #submit {
    width: 370px; }
  .navbar {
    display: flex;
    flex-wrap: wrap; }
  .menu .menu__items {
    display: flex;
    flex-direction: column; }
  .flex-row {
    flex-direction: column; }
  .logo {
    display: none; } }
