/*variables y normaliz*/

@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixins";
@import "./partials/header";
@import "./partials/footer";
@import "./views/lacerveza";
@import "./views/ingredientes";
@import "./views/quienessomos";
@import "./views/estilos";
@import "./views/contacto";



/*MAIN*/
.main {
    grid-area: container;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    box-sizing: content-box;
    flex-basis: 50%;

    }
.frase {
    font-size: 2.5em;
    margin-top: 2rem;
    color: gray;
    box-sizing: content-box;
    text-align: center;
    text-shadow: 0 0 20px #fff;
}

@media screen and (max-width:400px) {
  
    .layout {
        display: flex;
        flex-wrap: wrap;
    }
    .article {
    display: flex;
    flex-wrap: wrap;
    }

    .la__cerveza__img {
    display: flex;
    flex-wrap: wrap;
    width: 300px;
    flex-grow: 1;
    }

    .section__items2 {
    display: flex;
    flex-grow: 1;
    text-align: center;
    }   

    .footer {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    align-items: center;
    }
    .ingredientes {
    display: flex;
    flex-wrap: wrap;
    flex-grow: 1;
    }
    .section {
    
    display: flex;
    flex-wrap: wrap;
}
    .article__items3 .article__items5 .article__items6 {
    display: flex;
    flex-flow: row-reverse wrap;
}
    .main__quienes {
    display: flex;
    flex-wrap: wrap;
    max-width:600px

}
    input {
        width: 370px;
    }
    textarea {
        width: 370px;
    }
    #submit {
        width: 370px;
    }

    .navbar {
    display: flex;
    flex-wrap: wrap;
}
    .menu .menu__items{
    display: flex;
    flex-direction: column;
}
    .flex-row {
    flex-direction: column;
}
    .logo {
    display: none;
}

}   
