/*variables y normaliz*/

@import "./misc/variables";
@import "./misc/normalize";
@import "./misc/mixins";
@import "./partials/header";
@import "./partials/footer";
@import "./views/lacerveza";
@import "./views/ingredientes";
@import "./views/quienessomos";





/*MAIN*/
.main {
    grid-area: container;
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    align-items: center;
    box-sizing: content-box;
    flex-basis: 50%;

    }

.frase {
    font-size: 2.5em;
    margin-top: 2rem;
    color: gray;
    box-sizing: content-box;
    text-align: center;
    text-shadow: 0 0 20px #fff;
}

