.ingredientes {
    font-size: 15px;
    display: grid;
    color: gray;
    grid-template-columns:auto auto auto auto; 
    gap: 5;  
    margin: 3rem;  
}   

.ingredientes > * {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;  
}

.foto  {
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
    position:relative; 
    transition: all 300ms;
}  
.foto :hover {
    transform: scale(2);
    position: absolute; 
    z-index: +5;
    left: 550px;      
    bottom: -150px;
}

.descripcion {
    width: 100%;
    position:relative;
    text-align:justify;  
    transition: all 300ms;
}  
.descripcion:hover {
    transform: scale(1.5);
    width: 80%;
    color: red;
    text-decoration: solid 2px; 
}
.foto__1  {
    width: auto;
    position:relative; 
    transition: all 300ms;
}  
.foto__1 :hover {
    transform: scale(2);
    position: absolute; 
    z-index: +5 ;
    right: 125px;      
    bottom: -100px;

}

.descripcion__1 {
    
    width: 100%;
    position:relative;
    text-align:justify;  
    transition: all 300ms;
}  
.descripcion__1:hover {
    transform: scale(1.5);
    width: 80%;
    color: red;
    text-decoration: solid 2px;
}

.foto__2  {
    width: 100%;
    position:relative; 
    transition: all 300ms;
}  
.foto__2:hover {
    transform: scale(3);
    position: absolute; 
    z-index: +3 ;
    margin-left: auto;
    margin-right: auto;      
    
}

.descripcion__2 {
    
    width: 100%;
    position:relative;
    text-align:justify;  
    transition: all 300ms;
}  
.descripcion__2:hover {
    transform: scale(1.5);
    width: 80%;
    color: red;
    text-decoration: solid 2px;
}


.descripcion__3 {
    
    width: 100%;
    position:relative;
    text-align:justify;  
    transition: all 300ms;
}  
.descripcion__3:hover {
    transform: scale(1.5);
    width: 80%;
    color: red;
    text-decoration: solid 2px;
}
