
.article {
    grid-area: container;
    display: grid;
    grid-template-columns: auto auto;
    grid-area: 
    "section__items"
    "Section__items2";
    margin-top: 6rem;    
    flex-basis: 50% ;     
}

.section__items {
    display: flexbox;
    justify-items: center; 
}
.la__cerveza__img {      
    width: 500px;
    justify-items: center;

    }

.section__items2 {
        font-size: 30px;
        color: gray;
        margin-top: 2rem;
        margin-left: 20%;
        margin-right: 15%;    
        box-sizing: content-box;  
    }
    
